body {
  background: linear-gradient(to right, cyan, red, blue, green, cyan);
  background-size: 500% 100%; /* Change the size as needed */
  animation: gradient 15s linear infinite;
  min-height: 100vh;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 5em;
  text-align: center;
  font-family: "Poppins";
}

.text{
  font-size: 3em;
  font-family: "Poppins";
  padding-left: 15%;
  padding-right: 15%;
}

footer{
 margin-top: auto;
}

h3 {
  padding-top: 0.25em;
}

.text-box{
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins";
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 768px){
  .text-box{
    margin-right: 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
  }
}
